/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #2274af;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 130px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

/* ==========================================================================
   DeAventon styles
   ========================================================================== */

/*********************************header*************************************/
header.navbar{
	max-height: 100px;
}
.login-form-row{
	overflow: hidden;
}

.form-fill{
	height: 70px;
}

.navbar-logo{
	display: block;
	width: 205px;
	height: 148px;
	background: url(../img/LogoHQ.png) no-repeat;
	margin-top: -65px;
}
/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
	.navbar-logo {
		display: block;
		width: 164px;
		height: 118px;
		background: url(../img/LogoTablet.png) no-repeat;
		margin-top: -45px;
	}
	ul.navbar-right a{
		padding: 10px 5px 5px 5px;
	}
}

@media (max-width: 768px ) {
	.navbar-logo {
		display: block;
		width: 164px;
		height: 118px;
		background: url(../img/LogoSmall.png) no-repeat;
		margin-top: -60px;
		margin-left: 10px;
	}
	.navbar-collapse.in{
		background-color: #222222;
		border-color: #080808;
		margin-top: -23px;
	}
	.nav > li > a {
		position: relative;
		display: block;
		padding: 10px 30px;
	}
	.navbar-default .navbar-nav > li > a {
		color: #999999;
	}
	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
		color: white;
	}
	ul.nav.navbar-nav.navbar-right li a{
		float: left;
	}
	.navbar-form {
		padding: 10px 30px;
		margin-top: 8px;
		margin-right: -15px;
		margin-bottom: 8px;
		margin-left: -15px;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
	}
}

.login-form{
	background: #3d3d3e;
	height: 70px;

	-webkit-border-bottom-left-radius: 20px;
	-moz-border-bottom-left-radius: 20px;
	border-bottom-left-radius: 20px;

	-webkit-border-bottom-right-radius: 20px;
	-moz-border-bottom-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.nav-menu{
	margin-top: -5px;
	max-height: 35px;
	background: #7bb9e6; /* Old browsers */
	background: -moz-linear-gradient(top,  #7bb9e6 0%, #439bdb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7bb9e6), color-stop(100%,#439bdb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7bb9e6 0%,#439bdb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7bb9e6 0%,#439bdb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7bb9e6 0%,#439bdb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7bb9e6 0%,#439bdb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bb9e6', endColorstr='#439bdb',GradientType=0 ); /* IE6-9 */
}


/********************************* Main Content *************************************/

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	padding-top: 99px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height: 500px;
	background-color: #777;
}
.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
}














